@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 1170px;
  background-color: #f5f8fa;
  margin: 0 auto;
}

.nav-bar {
  width: 1360px;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  height: 39px;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 476px;
}

.nav li a {
  text-decoration: none;
  font-family: "Lato", serif;
  font-size: 14px;
  font-weight: 700;
  color: #1d2c3c;
}

.btn {
  width: 91px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  color: #1d2c3c;
}

.hr {
  width: 1358px;
  height: 2px;
}
